<section class="layout-wrap">
    <div class="layout-title">
        <span><%= page.title %></span>
    </div>
    <% if (theme.customize.profile.enabled) { %>
        <%- partial('common/profile', null, {cache: !config.relative_link}) %>
    <% } %>
</section>