<% if (false) { %>
    <div class="widget-wrap">
        <div class="widget-corner"></div>
        <h3 class="widget-title"><%= __('widget.tag_cloud') %></h3>
        <div class="widget tagcloud">
            <%- tagcloud() %>
        </div>
    </div>
<% } %>