.about
    @extend $base-style
    color: white
    margin-top: -162px
    bottom: 0px
    background: url("./images/about-bg.jpg") no-repeat
    min-height: 900px
    width: 100%
    overflow: hidden
    background-size:cover

.about-wrap
    margin: 200px -20px

.about-slideshow-container
    position: absolute
    padding: 0px
    width:100%
    height: 87%
    margin: auto

.about-prev, .about-next {
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    width: auto;
    color: black;
    padding: 20px;
    font-size: 30px;
    transition: 0.6s ease;
}

/* 定位 "下一张" 按钮靠右 */
.about-next
    right: 0px

.about-prev:hover, .about-next:hover {
    color: color-link
    background-color: rgba(0,0,0,0.8);
}

.about-avatar
    background: url("./images/avatar.jpg")
    background-size: 100px 100px
    width: 100px
    height: 100px
    border-radius: 50%
    position: absolute
    left: 50%
    margin-left: -50px

.about-name
    color: rgba(0, 0, 0, 0.7)
    margin-top: 100px

.about-intro
    position: absolute
    left: 50%
    margin-left: -250px
    margin-top: 20px
    width: 500px
    color: black
    @media mq-mini
        margin-left: -170px
        width: 300px

.text-center
    text-align: center

.undecorated, .undecorated li
    list-style: none

.project-panel
    color: black
    position: absolute
    width: 900px;
    height: 400px
    margin: 20px 100px
    left: 50%
    margin-left: -400px
    overflow-y: scroll
    @media mq-tablet
        width:500px;
        margin-left: -180px
        overflow-y: scroll
    @media mq-mobile
        width:500px;
        margin-left: -170px
        overflow-y: scroll
    @media mq-mini
        width:500px;
        margin-left: -170px
        overflow-y: scroll

.panel
    clearfix()
    display: inline-block
    float: left
    top: 10px
    width:300px
    height: 360px
    background: rgba(0, 0, 0, 0.5)
    padding: 20px
    margin-right: 100px
    @media mq-tablet
        margin-right: 0px
        margin-bottom: 50px
    @media mq-mobile
        margin-right: 0px
        margin-bottom: 50px
    @media mq-mini
        margin-right: 0px
        margin-bottom: 50px
